= link_to post.title, post.url

%p
  = "#{post.points} points" if post.points
  = link_to("Upvote", "/posts/#{post.id}/up_vote")
  = link_to("Downvote", "/posts/#{post.id}/down_vote")

%p
  = link_to "Edit", edit_post_path(post)
  = link_to "Delete", post_path(post), method: :delete

